@import "tailwindcss";

@keyframes heartbeat {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
}

@layer utilities {
    .animate-heartbeat {
        animation: heartbeat 6s ease-in-out infinite;
    }
}
